<footer>
    <div class="f-info d-flex align-items-center flex-column">

        <div class="f-info-social width">
            <i class=" m-2 fa-brands fa-square-facebook"></i>
            <i class=" m-2 fa-brands fa-square-instagram"></i>
            <i class=" m-2 fa-brands fa-linkedin"></i>
        </div>
        <div class="width">&copy; wanderlust Private Limited</div>
        <div class="f-info-links width">
            <a href="/privacy" class="text-decoration-none">Privacy</a>
            <a href="/terms" class="text-decoration-none">Terms</a>
        </div>
    </div>
</footer>